.main_h {
    width: 220px;
    background-color:#500000;
    text-align:center;
    color:white;
    border:10px groove #666666;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size:180%;
}
.sub_h {
    text-align:center;
}
.large_logo {
    width:25%;
    height:25%;
    margin:5px;
    float:left;
}